.side_nav_bar_wrapper {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.side_nav_bar_wrapper li {
  margin: 0.8rem 0;
}
