.main_nav_bar_wrapper {
  background-color: black;
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_nav_bar_wrapper svg {
  margin: 0 1rem;
}

.main_nav_bar_wrapper ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: 0;
  width: 100%;
  max-width: 70vw;
  align-self: center;
}

.main_nav_bar_wrapper ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.main_nav_bar_wrapper ul li a:hover {
  color: #ff0101;
}
